/* This here font-family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* Common CSS Styles Here */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
p{
    color: #727272;
    font-weight: 400;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
main > section{
    margin: 3rem;
}
.d-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

/* End the Common Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.navbar h2{
    cursor: pointer;
}
.nav-links{
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 5px;
}
.nav-item a{
    color: #424242;
}
.banner-content{
    text-align: center;
    margin: 1.8rem auto 25px;
}
.banner-content h1{
    line-height: 1.4;
}
.banner-content p{
    width: 75%;
    margin: 1.2rem auto;
}
.banner img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.our-features{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.our-features-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin: 0 2rem 0;
}
.our-features-left img{
   width: 100%;
}
.our-features-right h3{
    margin: 20px 0;
    font-size: 2rem;
}
.span-1{
    font-weight: 500;
    color: #727272;
}
.span-2{
    color: #FF900E;
}
.our-features-right p{
    width: 80%;
    margin-bottom: 25px;
}
/* Features Styles Start */
.features-section{
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
}
.features-title{
    border-left: 4px solid #FF900E;
}
.features-title h1{
    margin: 0 1rem 1rem;
}
.features-left{
    width: 50%;
}
.f-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin: 1rem 0;
    border-radius: 5px;
    padding: 1rem 1.2rem;
    width: 90%;
}
.f-card h3{
    font-weight: 600;
}
.f-card p{
    font-size: 1rem;
}
.features-right{
    width: 40%;
}
.features-right img{
    width: 100%;
}
.features-right button{
    margin-top: -110px;
    margin-left: -50px;
}
/* Features Styles End */

/* Some Facts Card Styles Start*/
.some-facts p{
    margin-top: 1rem;
    width: 50%;
}
.some-facts-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 4rem auto;
    gap: 2rem;
}
.facts-card, .facts-card div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.facts-card div{
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 12rem;
    height: 11rem;
    padding: 2rem ;
    justify-content: center;
}
.facts-card div img{
    width: 2.5rem;
}
.facts-card div h4{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 600;
}
/* Some Facts cards Styles End */
/* Our Sponspors Styles Start */
.sponspors-content{
    text-align: center;
    width: 53%;
    margin: 0 auto;
}
.sponspors-content h1{
    margin-bottom: 1rem;

}
.sponspors-cards{
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 3rem 0;
}
.sponspors-card{
    width: 8rem;
}
.sponspors-card img{
    width: 100%;
}
/* Our Sponspors Styles End */
/* Footer Styles Start */
.footer-content{
    background-color: #fff4e6;
    margin: 2rem auto;
    border-radius: 5px;
}
.footer-content p{
    padding: 1.5rem 2rem;
    text-align: center;
}
/* Footer Styles End */
/* Responsive for Small Devices */
@media screen and (max-width:576px) {
    header{
        height: 50rem;
    }
    .navbar,
    .nav-links,
    .our-features,
    .features-section,
    .sponspors-cards{
        flex-direction: column;
        gap: 10px;
        align-content: center;
    }
    .our-features-left,
    .some-facts-cards{
        grid-template-columns: repeat(1,1fr);
        align-content: center;
    }
    .facts-card div,
    .some-facts p,
    .sponspors-content{
        width: 100%;
    }
    .our-features-right,
    .our-features-right p{
        text-align: center;
        width: 100%;
    }
    .features-left,
    .f-card,
    .features-right{
        width: 100%;
    }
    .features-right button{
        margin: 0 auto;
        text-align: center;
    }
    .footer-content p{
        padding: 1rem;
    }
}
/* Responsive for Medium Devices*/
@media screen and (min-width:577px) and (max-width:992px) {

    .our-features-left,
    .some-facts-cards{
        grid-template-columns: repeat(2,1fr);
        align-content: center;
    }
    .our-features-right,
    .our-features-right p{
        width: 100%;
    }
    .features-section{
        flex-direction: column;
    }
    .features-left,
    .f-card,
    .features-right,
    .some-facts p,
    .sponspors-content{
        width: 100%;
    }
    .features-right button{
        margin: 0 auto;
        text-align: center;
    }
    .footer-content p{
        padding: 1.2rem;
    }
}




